%h1.my-tit.row
  .col-md-12
    = t('headers.characteristics.new')
= render 'form'
.row
  .col-md-6.col-centre
    = link_to t('helpers.submit.back'), characteristics_path, class: "btn btn-primary buttons"
