%h1.my-tit.row
  .col-md-12
    = t('headers.weights.edit')
= render 'form'

.row
  .col-md-3.col-centre
    = link_to t('helpers.submit.back'), weights_path, class: "btn btn-primary buttons"
  .col-md-3.col-centre
    = link_to t('helpers.submit.show'), @weight, class: "btn btn-primary buttons"
