/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require theme
 *= require bootstrap-datetimepicker
 *= require_self
 */



  .col-md-12.my_head {
   padding-right: 20px;
   border: 4px solid #d6d6d6;
   text-align: center;
   font-size: 25px;
   font-weight: bold;
  }
  .col-md-11.simple{
    padding-right: 20px;
    border: 3px solid #d6d6d6;
   }
  .row.mbord {
    border: 4px;
  }
  .c{
    margin: 0 auto;
    text-align: center;
  }
  /*.responstable {
   margin: 1em 0;
   width: 100%;
   overflow: hidden;
   background: #FFF;
   color: #024457;
   border-radius: 0px;
   border: 1px solid #167F92;
   text-align: center;
  }
  .responstable tr {
   border: 1px solid #D9E4E6;
  }
  .responstable tr:nth-child(odd) {
   background-color: #EAF3F3;
  }
  .responstable th {
   display: none;
   border: 1px solid #D9E4E6;
   background-color: #cecece;
   color: #FFF;
   padding: 1em;

  }
  .responstable th:first-child {
   display: table-cell;
   text-align: center;
  }
  .responstable th:nth-child(2) {
   display: table-cell;
  }
  .responstable th:nth-child(2) span {
   display: none;
  }
  .responstable th:nth-child(2):after {
   content: attr(data-th);
  }
  @media (min-width: 480px) {
   .responstable th:nth-child(2) span {
   display: block;
   }
   .responstable th:nth-child(2):after {
   display: none;
   }
  }
  .responstable td {
   display: block;
   word-wrap: break-word;
   max-width: 7em;

  }
  .responstable td:first-child {
   display: table-cell;
   text-align: center;
   border-right: 1px solid #D9E4E6;
  }
  @media (min-width: 480px) {
   .responstable td {
   border: 1px solid #D9E4E6;
   }
  }
  .responstable th, .responstable td {
   text-align:center;
   margin: .5em 1em;
  }
  @media (min-width: 480px) {
   .responstable th, .responstable td {
   display: table-cell;
   padding: 1em;
   }
  }*/
  #cont{
    position: absolute;
    height:  50vh;

  }
  #ppp{
    font-weight: bold;
    font-size: 150%;
    color: #fff;
    background: #fff; /* Цвет фона */
    // alpha: (Opacity=70); /* Прозрачность в IE */
    opacity: 0.7;

  }
  #cont2{
     border: 1px solid #ccc;
  }
  body {
     font-family: arial;
   }

   table {
     border: 1px solid #ccc;
     width: 100%;
     margin:0;
     padding:0;
     border-collapse: collapse;
     border-spacing: 0;
   }

   table tr {
     border: 1px solid #ddd;
     padding: 5px;
   }

   table th, table td {
     padding: 10px;
     text-align: center;
   }

   table th {
     text-transform: uppercase;
     font-size: 14px;
     letter-spacing: 1px;
   }

   @media screen and (max-width: 1000px) {

     table {
       border: 0;
       background-color: #f2f1f0;
     }

     table thead {
       display: none;
     }

     table tr {
       margin-bottom: 10px;
       display: block;
       border-bottom: 2px solid #ddd;
     }

     table td {
       display: block;
       text-align: right;
       font-size: 13px;
       border-bottom: 1px dotted #ccc;
     }

     table td:last-child {
       border-bottom: 0;
     }

     table td:before {
       content: attr(data-label) ": ";
       color: black;
       float: left;
       text-transform: uppercase;
       font-weight: bold;
       text-align: left;
     }
   }
@media screen and (max-width:1200px){#ppp {display:none}}
